
<h2> 
  <a href="/" lazo-navigate>News</a> 
  | <a href="/hello" lazo-navigate>Hello</a> 
  </h2>

<!-- layout template -->
<header lazo-cmp-container="header"></header>
<!--
    component that responds to a route will
    render in the lazo-layout-body component container
-->
<section lazo-cmp-container="lazo-layout-body"></section>
